@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Full White Theme */
    --background: 0 0% 100%; /* Pure white background */
    --foreground: 0 0% 0%; /* Pure black text for contrast */

    --card: 0 0% 100%; /* Pure white card background */
    --card-foreground: 0 0% 0%; /* Black text on card */

    --primary: 0 0% 90%; /* Slightly off-white primary color */
    --primary-foreground: 0 0% 0%; /* Black text on primary */

    --border: 0 0% 85%; /* Light gray border */
    --input: 0 0% 95%; /* Slightly off-white input background */
}


  .dark {
    /* Full Black Theme */
    --background: 0 0% 0%; /* Pure black background */
    --foreground: 0 0% 100%; /* Pure white text */

    --card: 0 0% 5%; /* Slightly off-black card background */
    --card-foreground: 0 0% 100%; /* White text for card */

    --primary: 0 0% 10%; /* Very dark primary color */
    --primary-foreground: 0 0% 100%; /* White text on primary */

    --border: 0 0% 15%; /* Dark grey border */
    --input: 0 0% 10%; /* Dark input background */
}


  * {
    @apply border-[#e5e7eb] dark:border-[#374151];
  }
  
  body {
    @apply bg-background text-foreground font-poppins; /* These will use your defined variables */
  }

  h1, .logo {
    font-family: var(--font-convergence);
  }
}

.homepagecontactbtn {
  padding: 18px;
  display: none; /* Hide by default for small screens */
  gap: 10px;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 2px solid #808080 !important; /* Dark border */
  transition: all ease-in 0.2s !important;
}

/* Show on medium screens and larger */
@media (min-width: 768px) {
  .homepagecontactbtn {
    display: flex;
  }
}

@keyframes rotate360 {
  from { transform: rotate(0deg) scale(1.5); }
  to { transform: rotate(360deg) scale(1.5); }
}

.rotate-360 {
  animation: rotate360 0.5s linear;
}

@keyframes smoothRotate {
  from { transform: rotate(0deg) scale(1.25); }
  to { transform: rotate(360deg) scale(1.25); }
}

.rotate-smooth {
  animation: smoothRotate 2s linear infinite;
}

.homepagecontactbtn:hover {
  box-shadow: none;
  transform: translateY(6px) !important;
  transition: all ease-in 0.2s;
  opacity: 1 !important;
}

.tagcloud--item {
  cursor: pointer;
  padding: 2px;
  transition: 0.3s;
}

.tagcloud--item:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .tagcloud {
    transform: scale(0.8);
  }
}

section {
  position: relative;
  width: 100%;
}

section + section {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
